h1{
    display: block;
    text-align:center;
    width: 90%;
    color: indigo;
    height: 50px;
    padding: 20px;
    font-family: cursive;
    background-color: darkgray;
    border: 30px solid darkblue;
}
body{
    background-color: darkgreen;
    font-family: cursive;
    text-align:center;
    color: ivory;
}
article{
    position: relative;
    border: 3px dashed salmon;
}
#img1 {
    position: relative;
}
#img2 {
    position: relative;
    float: none;
}
/*image2 {*/
/*    width: 300px;*/
/*    border: 15px solid green;*/
/*    padding: 50px;*/
/*    margin: 20px;*/
/*}*/