h1{
    color: ghostwhite;
    font-family: cursive;
    text-align: center;
    padding: 40px;
    display: inline;
}

body{
    background-color: black;
    color: white;
    font-family: cursive;
    text-align: center;
}
#text{
    position: absolute;
    float: left;
}
